<form class="mt-2">
  <div class="row">
      <div class="md-form col">
        <input mdbInput  max="4" min="3" type="text" id="search" [(ngModel)]="searchText"
        class="form-control"  (onkeypress)="pesquisar()" name="search" >
        <label for="search">Pesquisar</label>
      </div>
    <div class="col text-right">
      <button type="button" mdbBtn color="primary" (click)="inicializaForm();  adicionarModal.show()"
        class="relative waves-light" mdbWavesEffect>Adicionar Novo Usuário</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr>
            <th class="th-sm">Id
              <mdb-icon icon="sort" (click)="sortBy('id')"></mdb-icon>
            </th>
            <th class="th-sm">CPF
              <mdb-icon icon="sort" (click)="sortBy('cpf_cnpj')"></mdb-icon>
            </th>
            <th class="th-sm">Nome
              <mdb-icon icon="sort" (click)="sortBy('nome')"></mdb-icon>
            </th>
            <th class="th-sm">login
              <mdb-icon icon="sort" (click)="sortBy('nome')"></mdb-icon>
            </th>
            <th class="th-sm">Status
              <mdb-icon icon="sort" (click)="sortBy('status')"></mdb-icon>
            </th>
            <th class="th-sm">Departamento
              <mdb-icon icon="sort" (click)="sortBy('departamento')"></mdb-icon>
            </th>
            <th class="th-sm">Ações
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let usuario of usuariosTabela">
          <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.cpf_cnpj}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.login}}</td>
            <!-- <td>
              <mdb-checkbox [checked]="usuario.status" [disabled]="true"></mdb-checkbox>
            </td> -->
            <td>
              {{getStatus(usuario.status)}}
            </td>
            <td>{{usuario.departamento}}</td>
            <td>
              <button title="Editar usuários" (click)="editar(usuario.id); editarModal.show();" type="button" mdbBtn color="blue" outline="true"
                rounded="true" size="sm" class="px-2" mdbWavesEffect>
                <mdb-icon fas icon="pencil" class="mt-0"></mdb-icon>
              </button>
              <button title="Excluir usuários" (click)="excluir(usuario.id); excluirModal.show();" type="button" mdbBtn color="red" outline="true"
                rounded="true" size="sm" class="px-2" mdbWavesEffect>
                <mdb-icon fas icon="trash" class="mt-0"></mdb-icon>
              </button>
              <button title="Campanhas do usuários" (click)="campanhasUsuario(usuario.id)" type="button" mdbBtn color="green" outline="true"
                rounded="true" size="sm" class="px-2" mdbWavesEffect>
                <mdb-icon fas icon="clone" class="mt-0"></mdb-icon>
              </button>
              <button style="width:31px;" title="Permissões do usuário" (click)="permissoesUsuario(usuario.id)" type="button" mdbBtn color="yellow" outline="true"
                rounded="true" size="sm" class="px-2" mdbWavesEffect>
                <mdb-icon fas icon="unlock-alt" class="mt-0"></mdb-icon>
              </button>
              <button style="width:31px;" title="Carteria de clientes" (click)="carteiraDeClientes(usuario.id)" type="button" mdbBtn color="blue" outline="true"
              rounded="true" size="sm" class="px-2" mdbWavesEffect>
              <mdb-icon fas icon="users" class="mt-0"></mdb-icon>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>


<div [formGroup]="usuarioForm" mdbModal #editarModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title">Editando: {{usuarioNomeSelecionado}}</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editarModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content">
      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="md-form col">
          <input mdbInput formControlName="login" max="4" min="3" type="text" id="login" class="form-control">
          <label for="login">Login</label>
        </div>
        <div class="md-form col">
          <mdb-checkbox formControlName="status">Status</mdb-checkbox>
        </div>
      </div>
      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="col mdb-select-form">
          <mdb-select formControlName="id_organograma" [options]="departamentoSelect" [multiple]="false"
            placeholder={{departamentoIdSelect}}></mdb-select>
          <label for="">Departamento</label>
        </div>
        <!-- <div class="col mdb-select-form">
            <mdb-select formControlName="responsavel_membro"  [options]="niveisHierarquicoSelect"
              [multiple]="false" placeholder="Nível hierárquico" ></mdb-select>
              <label for="Nível hierárquico">Nível hierárquico</label>
          </div> -->
      </div>
      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="md-form col-2">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_entrada"></mdb-time-picker>
          <label class="">Hora entrada</label>
        </div>
        <div class="md-form col-2">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_saida"></mdb-time-picker>
          <label class="">Hora saída</label>
        </div>
        <div class="md-form col">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_entrada_lanche"></mdb-time-picker>
          <label class="">Hora entrada para o lanche</label>
        </div>
        <div class="md-form col">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_saida_lanche"></mdb-time-picker>
          <label class="">Hora saída do lanche</label>
        </div>
      </div>

      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="md-form col">
          <mdb-checkbox formControlName="possui_carteira_cli">Trabalha com carteira de clientes</mdb-checkbox>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="md-form">
          <button type="button" mdbBtn title="A nova senha será 123" color="blue" class="waves-light" aria-label="Cancelar"
            (click)="inicializarSenha()" mdbWavesEffect>Inicializar senha</button>
        </div>
        <div class="md-form">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Cancelar"
            (click)="editarModal.hide()" mdbWavesEffect>Cancelar</button>
        </div>
        <div class="md-form">
          <button type="button" mdbBtn color="primary" class="relative waves-light"
            (click)="editarModal.hide(); salvar()" mdbWavesEffect>Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div [formGroup]="usuarioForm" mdbModal #excluirModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title">Excluir o usuário</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="excluirModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content">
      <div style="margin-left: 15px;">
        <br>
        <h4> {{usuarioNomeSelecionado}}</h4>
        <br>
      </div>
      <div class="modal-footer justify-content-end">
        <div class="md-form">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Cancelar"
            (click)="excluirModal.hide()" mdbWavesEffect>Cancelar</button>
        </div>
        <div class="md-form">
          <button type="button" mdbBtn color="primary" class="relative waves-light"
            (click)="excluirModal.hide(); exclusaoConfirmada()" mdbWavesEffect>Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div [formGroup]="usuarioForm" mdbModal #adicionarModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title">Adicionar usuário</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="adicionarModal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-content">
      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="md-form col-3">
          <input mdbInput formControlName="cpf_cnpj" type="text" id="cpf" (change)="getPessoaPorCPFCNPJ()"
            class="form-control">
          <label for="cpf">CPF</label>
        </div>
        <div class="md-form col-5">
          <input mdbInput formControlName="nome" type="text" id="nome" class="form-control">
          <label for="nome">nome</label>
        </div>
      </div>
      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="md-form col">
          <input mdbInput formControlName="login" max="4" min="3" type="text" id="login_" (change)="getLogin()"
            class="form-control">
          <label for="login_">Login</label>
        </div>
        <div class="md-form col">
          <mdb-checkbox formControlName="status">Status</mdb-checkbox>
        </div>
      </div>
      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="col mdb-select-form">
          <mdb-select formControlName="id_organograma" [options]="departamentoSelect" [multiple]="false"
            placeholder="Departamento"></mdb-select>
        </div>
        <!-- <div class="col mdb-select-form">
              <mdb-select formControlName="responsavel_membro"  [options]="niveisHierarquicoSelect"
                [multiple]="false" placeholder="Nível hierárquico" ></mdb-select>
                <label for="Nível hierárquico">Nível hierárquico</label>
          </div> -->
      </div>
      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="md-form col-2">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_entrada"></mdb-time-picker>
          <label class="">Hora entrada</label>
        </div>
        <div class="md-form col-2">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_saida"></mdb-time-picker>
          <label class="">Hora saída</label>
        </div>
        <div class="md-form col">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_entrada_lanche"></mdb-time-picker>
          <label class="">Hora entrada para o lanche</label>
        </div>
        <div class="md-form col">
          <mdb-time-picker [buttonLabel]="'Done'" [twelvehour]="false" [darktheme]="true"
            [placeholder]="'Selecione a hora'" formControlName="hora_saida_lanche"></mdb-time-picker>
          <label class="">Hora saída do lanche</label>
        </div>
      </div>

      <div class="form-row" style="margin-left: 5px; margin-right: 5px">
        <div class="md-form col">
          <mdb-checkbox formControlName="possui_carteira_cli">Trabalha com carteira de clientes</mdb-checkbox>
        </div>

      </div>
      <div class="row justify-content-end">
        <div class="md-form">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Cancelar"
            (click)="adicionarModal.hide()" mdbWavesEffect>Cancelar</button>
        </div>
        <div class="md-form">
          <button type="button" mdbBtn color="primary" class="relative waves-light"
            (click)="adicionarModal.hide(); adicionar()" mdbWavesEffect>Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>