<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-0  d-flex justify-content-center align-items-center">

    <a class="white-text font-weight-bold text-uppercase ">Analisar Campanha</a>

  </div>
  <!-- Card Filtros -->
  <div  >
    <div class="row ">
      <div class="col-6 col-sm-3">
        <div class="row justify-content-around">
          <div class="col-6 col-sm-6">
            <div class="md-form datas">
              <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataInicial"
                class="datas"></mdb-date-picker>
              <label class="datas" style="height: 10px">Data inicial</label>
            </div>
          </div>
          <div class="col-6 col-sm-6">
            <div class="md-form datas">
              <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataFinal"
                class="datas"></mdb-date-picker>
              <label class="datas" style="height: 10px">Data final</label>
            </div>
          </div>
        </div>

      </div>
      <div class="col-6 col-sm-6 " style="z-index: 0">

        <div class="row" style="margin-top: 30px; margin-left: 10px">
          <div class="col-md-12">
            <mdb-select [(ngModel)]="campanhaSelectValue" [options]="campanhaSelect" placeholder="Escolha a campanha"
              style="font-size: 0.5rem;"></mdb-select>
            <label>Campanha</label>
          </div>
        </div>
      </div>

      <div class="col-6 col-sm-1 " style="z-index: 0">
        <div class="row justify-content-around">
          <a mdbBtn floating="true" size="lg" gradient="blue" (click)="analisarCampanha()" mdbWavesEffect>
            <mdb-icon icon="bolt"></mdb-icon>
          </a>
        </div>

      </div>
      <div class="col-6 col-sm-1 " style="z-index: 0" *ngIf="usuarioLogado.dashboard === 'supervisor' || usuarioLogado.dashboard === 'admin'">
        <div class="row justify-content-around">
          <a mdbBtn floating="true" size="lg" (click)="salvaCampanhaCSV()" gradient="aqua" mdbWavesEffect>
            <mdb-icon icon="cloud-download"></mdb-icon>
          </a>
        </div>

      </div>
    </div>
  </div>


  <div class="row no-gutters justify-content-center">
    <div class="relatorioFunil col-md-6 justify-content-center align-items-center">
      <div class="bocaFunil">
      </div>
      <div class="propect" title="Prospects">
        <span> {{prospects}}</span>
      </div>
      <div class="tentando" title="Tentando">
        <div class="table_scroll">
          <table *ngIf="tentando" class="table table-bordered table-striped">
            <!--Table head-->
            <thead>
              <tr>
                <th class="status justify-content-center">Tentativas</th>
                <th class="th-sm dtCriacao justify-content-center">Quantidade</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of tentando">
                <td class="justify-content-center">{{t.tentativas}}</td>
                <td class="justify-content-center">{{t.qtde}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="quantidadeDeLigacoes">
        <span *ngIf="totalLigacoesCampanha" title="Quantidade de ligações">{{totalLigacoesCampanha}}</span>
      </div>

      <div class="fundoFunil">
        <span *ngIf="predicoes && predicoes[0]" [title]="predicoes[0].nome">{{predicoes[0].count}}</span>
        <span *ngIf="predicoes && predicoes[1]" [title]="predicoes[1].nome">{{predicoes[1].count}}</span>
        <span *ngIf="predicoes && predicoes[2]" [title]="predicoes[2].nome">{{predicoes[2].count}}</span>
      </div>
      <div class="row resultado">
        <div *ngIf="resultado && resultado[0]" class="col-4 acerto" [title]="resultado[0].descricao">
          <div>
            <span>{{resultado[0].qdte}}</span>
          </div>
        </div>
        <div *ngIf="resultado && resultado[1]" class="col-4 alvoErro" [title]="resultado[1].descricao">
          <div>
            <span>{{resultado[1].qdte}}</span>
          </div>
        </div>
        <div *ngIf="resultado && resultado[2]" class="col-4 excedeu" [title]="resultado[2].descricao">
          <div>
            <span>{{resultado[2].qdte}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>