
<!-- <mdb-spinner style="margin: 40% "  spinnerType="big"></mdb-spinner>
<mdb-progress-bar class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>
 -->
<!-- <div  *ngIf="usuarioLogado" > -->
    <div class="wrapper" >
        <header>
            <app-header-nav ></app-header-nav>
        </header>
        
        <main style="width: 100%; margin: 0;">
            <router-outlet> </router-outlet>
        </main>
    
        <footer >
        <app-footer></app-footer>
        </footer>
    </div>
<!-- </div>


<app-login *ngIf="!usuarioLogado" > </app-login> -->
