<div class="row">
  <div class="col-lg-6 text-left">
    <!-- <button type="button" mdbBtn color="danger" (click)="apagarAlternativa()" mdbWavesEffect>Apagar</button> -->
    <!-- <button type="button" mdbBtn color="blue-grey" (click)="" mdbWavesEffect>Ações</button> -->
  </div>
  <div class="col-lg-6 text-right">
      <button type="button" (click)="goBack()" mdbBtn color="light" mdbWavesEffect>Voltar</button>
    <button type="button" mdbBtn color="dark-green" (click)="updateAlternativa()" mdbWavesEffect>Salvar</button>
  </div>
</div>
<mdb-card cascade="true" narrower="true">
  <form class="p-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="md-form">
          <input [value]="tableData.nome" (input)="tableData.nome = $event.target.value;" mdbInput min="5" type="text" id="nome" class="form-control">
          <label for="nome">Nome</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="md-form">
          <input (input)="tableData.sequencia_alternativa = $event.target.value;" [value]="tableData.sequencia_alternativa" mdbInput min="1" type="number" id="sequencia"
            class="form-control">
          <label for="sequencia">Sequencia</label>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="md-form">
          <mdb-checkbox (change)="updateStatusAlternativa(tableData.id, tableData.status)" [checked]="tableData.status" >Ativo</mdb-checkbox>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="md-form">
          <input (input)="tableData.id_proxima_pergunta = $event.target.value;" [value]="tableData.id_proxima_pergunta" mdbInput min="1" type="number" id="prox_pergunta"
            class="form-control">
          <label for="prox_pergunta">Próxima Pergunta</label>
        </div>
      </div>
    </div>
  </form>
</mdb-card>