<form class="mt-4">
  <div class="row" *ngIf="campanhaSelecionada">
    <div class="col-6">
      <h4>Usuários ativos</h4>
    </div>
    <div class="col-6">
      <h4>Usuários da campanha: {{campanhaSelecionada.nome}}</h4>
    </div>
  </div>
  <dual-list [source]="source" [(destination)]="targe" height="200px" filter="true" [format]="novoFormato" sort="true">
  </dual-list>
  <div class="row justify-content-end">
    <div class="col-lg-2 md-form">
      <button type="button" mdbBtn color="danger" block="true" [disabled]="disabledVoltar" (click)="voltar()"
        mdbWavesEffect>Voltar</button>
    </div>
    <div class="col-lg-2 md-form">
      <button type="button" mdbBtn color="primary" (click)="salvarUsuariosDaCampanha()" block="true" mdbWavesEffect
        style="margin-left: 20px">Salvar</button>
    </div>
  </div>
</form>