<form class="mt-4">
  <div class="row" *ngIf="usuarioSelecionado">
    <div class="col-6">
      <h4>Permissões ativas</h4>
    </div>
    <div class="col-6">
      <h4>Permissões do usuário: {{usuarioSelecionado.nome}}</h4>
    </div>
  </div>

  <dual-list [source]="source" [(destination)]="targe" height="200px" filter="true" [format]="novoFormato" sort="true">
  </dual-list>

  <div class="row justify-content-end">
    <div class="col-2 md-form">
      <button type="button" mdbBtn color="danger" block="true" (click)="voltar()"
        mdbWavesEffect>Voltar</button>
    </div>
    <div class="col-2 md-form">
      <button type="button" mdbBtn color="primary" (click)="salvar()" block="true" mdbWavesEffect
        style="margin-left: 20px">Salvar</button>
    </div>
  </div>
</form>