<div class="card card-cascade narrower">
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
    <div>
      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas fas icon="info" class="mt-0"></mdb-icon>
      </button>
    </div>
    <h4 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">Exportar</h4>
  </div>
  <div class="px-4">
    <div class="row ">
      <div class="col-lg-2 col-sm-6">
        <div class="md-form datas">
          <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataInicial"
            class="datas"></mdb-date-picker>
          <label class="datas" style="height: 10px">Data inicial</label>
        </div>
      </div>
      <div class="col-lg-2 col-sm-6">
        <div class="md-form datas">
          <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataFinal"
            class="datas"></mdb-date-picker>
          <label class="datas" style="height: 10px">Data final</label>
        </div>
      </div>
      <div class="col-lg-6 col-sm-4 ">
        <div class="row" style="margin-top: 50px">
          <div class="col-md-12">
            <mdb-select [(ngModel)]="sqlSelectValue" [options]="sqlSelect" placeholder="Escolha a SQL"
              style="font-size: 0.5rem;"></mdb-select>
            <label>SQL</label>
          </div>
        </div>
      </div>
      <div class="col-1 col-sm-1 mt-4">
        <div class="md-form">
          <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="executarSQL()"
            mdbWavesEffect>Exportar</button>
        </div>
      </div>
    </div>
  </div>
</div>