<div class="row mt-5">
  <div class="col-6 col-sm-6">
    <div
      class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
      <h6 class="white-text font-weight-bold mt-2 ">Questionários respondidos</h6>
    </div>
    <div style="display: block">
      <table class="table table-hover table-responsive-md mb-0">
        <thead>
          <tr>
            <th>Nome questionário</th>
            <th>Data </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of questRespAnalitica;" (click)="selectQuest(item)">
            <td>{{item.nome}}</td>
            <td>{{item.data}}</td>
          </tr>
          <tr *ngIf="!questRespAnalitica.length">
            <td colspan="2">Nenhum questionário foi respondido.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-6 col-sm-6">
    <div
      class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
      <h6 class="white-text font-weight-bold mt-2 ">Questionário selecionado - {{questionarioSelecionado.nome}}</h6>
    </div>
    <div class="table-responsive table-resp">
      <table class="table table-hover table-responsive-md mb-0">
        <thead>
          <tr>
            <th>Pergunta</th>
            <th>Resposta</th>
            <th>Observação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of questionarioSelecionado.respostas">
            <td>{{item.nome}}</td>
            <td>{{item.alternativa}}</td>
            <!-- <td>{{getObs(item.observacao)}}</td> -->
            <td>{{item.observacao}}</td>
          </tr>
          <tr *ngIf="!questionarioSelecionado.respostas.length">
              <td colspan="5" class="text-center">Nenhuma resposta selecionada ou não existe registros para as
                selecionadas.</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>