<div class="card card-cascade narrower">
  <!-- <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
  </div> -->
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <div>
      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas fas icon="info" class="mt-0"></mdb-icon>
      </button>
    </div>
    <h4 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">TAREFAS / EVENTOS</h4>
    <div>
      <button mdbBtn color="white" outline="true" rounded="true" size="sm" type="button"
        (click)="buttonCriarEvento = true;  modalCriarEvento.show()" class="px-2" mdbWavesEffect>
        Criar evento
      </button>
    </div>
  </div>
  <div class="px-4 p-3">
    <div class="row align-items-center filters">
      <div class="col-3 mobile">
        <div class="md-form datas">
          <mdb-date-picker #dataReagendamento name="mydate" [options]="myDatePickerOptions" required
            [(ngModel)]="dataInicial" class="datas" (ngModelChange)="listaEventos()"></mdb-date-picker>
          <label class="datas" style="height: 10px">Data inicial</label>
        </div>
      </div>
      <div class="col-3">
        <div class="md-form datas">
          <mdb-date-picker #dataReagendamento name="mydate" [options]="myDatePickerOptions" required
            [(ngModel)]="dataFinal" class="datas" (ngModelChange)="listaEventos()"></mdb-date-picker>
          <label class="datas" style="height: 10px">Data final</label>
        </div>
      </div>
      <!-- Data do compromisso -->
      <div class="col-2">
        <div class="form-check-inline">
          <input type="radio" class="form-check-input" (change)="tipoDeData('dtCompromissoRadio')"
            style="margin-right: 0px;" id="dtCompromissoRadio" name="dataEventoRadio" [checked]=dtCompromissoRadio>
          <label class="form-check-label" for="dtCompromissoRadio"
            style="font-size: 0.8rem; margin-left: 0px; margin-right: 0px;  ">Data
            do compromisso</label>
        </div>
      </div>
      <!-- Data de ciração do evento -->
      <div class="col-2">
        <div class="form-check-inline ">
          <input type="radio" class="form-check-input" id="dtCricaoRadio" (change)="tipoDeData('dtCricaoRadio')"
            name="dataEventoRadio" [checked]=dtCricaoRadio>
          <label class="form-check-label" for="dtCricaoRadio" style="font-size: 0.8rem; ">Data de criação</label>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="md-form">
          <button type="button" mdbBtn color="dark-green" mdbWavesEffect
            (click)="filtrosEventos.show()">Filtros</button>
        </div>
      </div>
    </div>
    <!-- <div class="row" style="margin-left: 50px; margin-top: 10px"> -->

    <!-- Enviados Por -->
    <!-- <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" style="margin-right: 0px;" id="enviadoPoroRadio" name="EnviadoRecebidoEventoRadio"
              [checked]=enviadoPorRadio  [disabled]="!usuarioLogadoSupervisor">
            <label class="form-check-label" for="enviadoPoroRadio" style="font-size: 0.8rem; margin-left: 0px; margin-right: 0px;  ">Enviados
              por</label>
          </div> -->

    <!-- Recebidos por -->
    <!-- <div class="form-check form-check-inline ">
            <input type="radio" class="form-check-input" id="recebidoPorRadio" name="EnviadoRecebidoEventoRadio"
              [checked]=recebidoPorRadio  [disabled]="!usuarioLogadoSupervisor">
            <label class="form-check-label" for="recebidoPorRadio" style="font-size: 0.8rem; ">Recebidos por</label>
          </div> -->
    <!-- </div> -->
    <div class="row mt-2">
      <div class="col-lg-3 col-sm-12">
        <div class="md-form">
          <mdb-checkbox [checked]=eventosUsuarioChk (change)="onChangeEventosUsuarioChk(eventosUsuarioChk)">Listar
            apenas eventos do usuário.</mdb-checkbox>
        </div>
      </div>
      <div class="col-lg-2 col-sm-12">
        <div class="md-form">
          <mdb-checkbox [disabled]="true" [checked]="true">Listar até cem eventos.</mdb-checkbox>
        </div>
      </div>
      <div class="col-lg-3 col-sm-12">
        <div class="md-form">
          <mdb-checkbox [disabled]="true" [checked]="true">Os eventos de campanhas são listados.</mdb-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 justify-content-center">
        <div class="md-form">
          <label for="totalEventos" style="margin-left: 15px">Total de eventos: {{totalEventos}} </label>
        </div>
      </div>
    </div>
    <!-- <div class="row justify-content-around"> -->

    <!-- <a mdbBtn floating="true" size="lg" gradient="blue" (click)="listaEventos()" mdbWavesEffect>
            <mdb-icon icon="refresh"></mdb-icon>
          </a> -->
    <!-- <a mdbBtn floating="true" size="lg" gradient="purple" (click)="modalCriarEvento.show()" mdbWavesEffect>
            <mdb-icon icon="calendar-plus-o"></mdb-icon>
          </a> -->
    <!-- </div> -->


    <br>
    <br>
    <div class="px-2">

      <!--Table-->
      <table class="table table-hover table-responsive-md mb-0">

        <!--Table head-->
        <thead>
          <tr>
            <th class="status">Status
            </th>
            <th class="th-sm dtCriacao">Dt. criação
              <mdb-icon icon="sort" (click)="sortBy('dt_criou')"></mdb-icon>
            </th>
            <th class="th-sm">Cliente
              <mdb-icon icon="sort" (click)="sortBy('cliente')"></mdb-icon>
            </th>
            <th class="th-sm">Motivo
              <mdb-icon icon="sort" (click)="sortBy('motivo')"></mdb-icon>
            </th>
            <th class="th-sm">P.
              <mdb-icon icon="sort" (click)="sortBy('prioridade')"></mdb-icon>
            </th>
            <th class="th-sm">Dt.prevista
              <mdb-icon icon="sort" (click)="sortBy('dt_prevista_resolucao')"></mdb-icon>
            </th>
            <th class="th-sm">Destino
              <mdb-icon icon="sort" (click)="sortBy('destino')"></mdb-icon>
            </th>
            <th class="th-sm">Criador
              <mdb-icon icon="sort" (click)="sortBy('pessoa_criou')"></mdb-icon>
            </th>
            <th class="th-sm">Tempo
              <mdb-icon icon="sort" (click)="sortBy('tempo')"></mdb-icon>
            </th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr (click)="abreEvento(evento)" #list *ngFor="let evento of tableData; let i = index">
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
              <a>
                <mdb-icon class={{evento.status_evento_cor_texto}} icon={{evento.status_evento_icone}} class="mr-2 "
                  title={{evento.status}}></mdb-icon>
              </a>
            </td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex"
              class="{{evento.status_evento_cor_texto}} dtCriacao">{{evento.dt_criou
            | date:'dd/MM/yyyy' }}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" class={{evento.status_evento_cor_texto}}>
              {{evento.cliente}}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" class={{evento.status_evento_cor_texto}}>
              {{evento.motivo}}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" class={{evento.status_evento_cor_texto}}>
              {{evento.prioridade}}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" class={{evento.status_evento_cor_texto}}>{{evento.dt_prevista_resolucao
            | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" class={{evento.status_evento_cor_texto}}>
              {{evento.destino}}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" class={{evento.status_evento_cor_texto}}>
              {{evento.pessoa_criou}}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex" class={{evento.status_evento_cor_texto}}>
              {{evento.tempo}}</td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>

    </div>

    <hr class="my-0">

    <!--Bottom Table UI-->
    <div class="d-flex justify-content-center">

      <!--Pagination -->
      <nav class="my-4 pt-2">
        <ul class="pagination pagination-circle pg-purple mb-0">

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="firstPage()"
            [ngClass]="{disabled: activePage == firstPageNumber}">
            <a class="page-link">First</a>
          </li>

          <!--Arrow left-->
          <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == firstPageNumber}">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <!--Numbers-->
          <li *ngFor="let page of paginators; let i = index" class="page-item" [ngClass]="{active: i+1 == activePage}">
            <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
          </li>

          <!--Arrow right-->
          <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == lastPageNumber}">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="lastPage()"
            [ngClass]="{disabled: activePage == lastPageNumber}">
            <a class="page-link">Last</a>
          </li>

        </ul>
      </nav>
      <!--/Pagination -->

    </div>
    <!--Bottom Table UI-->

    <div mdbModal #confirmSeTornarResponsavelModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
      <div class="modal-dialog modal-fluid" role="document">
        <div class="modal-header light-blue darken-3 white-text">
          <h4 class="modal-title w-100" id="myModalLabel">Confirma Responsabilidade</h4>
          <button type="button" class="close pull-right" aria-label="Close"
            (click)="confirmSeTornarResponsavelModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-content">
          <div *ngIf="tornarResponsavel" class="modal-body">
            Deseja se tornar responsável do evento do cliente {{tornarResponsavel.cliente}}
          </div>
          <div class="row justify-content-end">
            <div class="md-form">
              <button type="button" style="white-space: nowrap;" mdbBtn color="danger" class="waves-light"
                aria-label="Cancelar" (click)="confirmSeTornarResponsavelModal.hide(); cancelaSeTornarResponsavel()"
                mdbWavesEffect>Cancelar</button>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="md-form">
              <button *ngIf="usuarioLogadoSupervisor" type="button" style="white-space: nowrap;" mdbBtn color="warning"
                class="waves-light" aria-label="Somente Visualizar"
                (click)="confirmSeTornarResponsavelModal.hide(); visualizarEvento()" mdbWavesEffect>Somente
                Visualizar</button>
            </div>
            <div class="md-form">
              <button type="button" style="white-space: nowrap;" mdbBtn color="primary" class="relative waves-light"
                (click)="confirmSeTornarResponsavelModal.hide(); confirmaSeTornarResponsavel();"
                mdbWavesEffect>Sim</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="buttonCriarEvento"  >
      <div mdbModal #modalCriarEvento="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
        aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fluid" role="document">
          <div class="modal-header light-blue darken-3 white-text">
            <h4 class="modal-title w-100" id="myModalLabel">Criar Evento</h4>
            <button type="button" style="cursor:pointer;" class="close" data-dismiss="modal" aria-label="Close"
              (click)="modalCriarEvento.hide()">
              <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
            </button>
          </div>
          <div class="modal-content">
            <div class="modal-body" style="overflow: auto; height: 80vh;">
              <app-criar-evento (fechaModal)="fechaModal()"></app-criar-evento>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div mdbModal #filtrosEventos="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog  modal-fluid" role="document">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title">Filtros</h4>
      <button type="button" style="cursor:pointer;" class="close" data-dismiss="modal" aria-label="Close"
        (click)="filtrosEventos.hide()">
        <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
      </button>
    </div>
    <div class="modal-content">
      <div class="row mt-4 p-2">
        <div class="col-4">
          <mdb-select [(ngModel)]="departamentoSelectValue" [options]="departamentoSelect" [multiple]="false"
            [disabled]="!usuarioLogadoSupervisor" (selected)="onChangeDepartamento()"
            placeholder="Escolha o departamento" style="font-size: 0.5rem;"></mdb-select>
          <label>Departamento</label>
        </div>
        <div class="col-4">
          <mdb-select [(ngModel)]="usuarioSelectValue" [options]="usuarioSelect" (selected)="listaEventos()"
            placeholder="Escolha o usuário" [disabled]="!usuarioLogadoSupervisor" style="font-size: 0.5rem;">
          </mdb-select>
          <label>Usuário</label>
        </div>
        <div class="col-4">
          <mdb-select [(ngModel)]="motivoSelectValue" [options]="motivoSelect" [multiple]="true"
            (click)="listaEventos()" [highlightFirst]="false" placeholder="Escolha o motivo" style="font-size: 0.5rem;">
          </mdb-select>
          <label>Motivo</label>
        </div>
      </div>
      <div class="row mt-4 p-2">
        <div class="col-lg-12">
          <mdb-select [(ngModel)]="statusSelectValue" [options]="statusSelect" [multiple]="true"
            (click)="listaEventos()" placeholder="Escolha o status" style="font-size: 0.5rem;"></mdb-select>
          <label>Status</label>
        </div>
      </div>
    </div>
  </div>
</div>