<!-- Nav tabs -->
<mdb-tabset #propostaDetalhesTabs [buttonClass]="'classic-tabs tabs-cyan'" [contentClass]="'card'" class="classic-tabs tabHead">
  <!--Panel 1-->
  <mdb-tab heading= "Proposta">
    <div class="row">
      <div class="col-12">
          <form [formGroup]="propostaForm" class="formQuestionario">
              <div class="row">
                  <div class="md-form col-1" >
                      <input mdbInput formControlName="id" type="text" id="id" class="form-control" >
                      <label for="id">ID</label>
                    </div>
                    <div class="md-form col-2" >
                        <input mdbInput formControlName="placa" type="text" id="placa" (blur)="salvarDadosVeiculoDaProposta()" 
                        class="form-control" >
                        <label for="placa">Placa</label>
                    </div>                    
                    <div class="md-form col" >
                        <input mdbInput formControlName="cliente" type="text" id="cliente" class="form-control" >
                        <label for="cliente">Cliente</label>
                    </div>
                    <div class="md-form col-3" >
                      <input mdbInput formControlName="status" type="text" id="status" class="form-control" >
                      <label for="status">Status</label>
                    </div>
              </div>
              <div class="row">
                <div class="md-form col" >
                    <input mdbInput formControlName="renavam" type="text" id="renavam" class="form-control" >
                    <label for="renavam">RENAVAM</label>
                  </div>
                  <div class="md-form col" >
                      <input mdbInput formControlName="chassi" type="text" id="chassi" (blur)="salvarDadosVeiculoDaProposta()" 
                      class="form-control" >
                      <label for="chassi">CHASSI</label>
                  </div>                    
                  <div class="md-form col" >
                      <input mdbInput formControlName="n_do_motor" type="text" id="n_do_motor" class="form-control" >
                      <label for="n_do_motor">N. do Motor</label>
                  </div>
                  <div class="md-form col" >
                    <input mdbInput formControlName="cor_veiculo" type="text" id="cor_veiculo" class="form-control" >
                    <label for="cor_veiculo">Cor do Veículo</label>
                  </div>
              </div> 
              <div class="row">
                  <div class="md-form col-4" >
                      <input mdbInput formControlName="tipo_veiculo" type="text" id="tipo_veiculo" class="form-control" >
                      <label for="tipo_veiculo">Tipo do veículo</label>
                  </div>
                  <div class="md-form col-2" >
                        <input mdbInput formControlName="marca" type="text" id="marca" class="form-control" >
                        <label for="marca">Marca</label>
                  </div>
                  <div class="md-form col-4" >
                          <input mdbInput formControlName="modelo" type="text" id="modelo" class="form-control" >
                          <label for="modelo">Modelo</label>
                  </div>
                  <div class="md-form col-2" >
                            <input mdbInput formControlName="ano_modelo" type="text" id="ano_modelo" (blur)="salvarDadosVeiculoDaProposta()"  class="form-control" >
                            <label for="ano_modelo">Ano/Modelo</label>
                  </div>
              </div>
              <div class="row">
                <div class="md-form col" >
                  <input mdbInput formControlName="codigofipe" type="text" id="codigofipe" class="form-control" >
                  <label for="codigofipe">Código tabela FIPE</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="preco_medio" type="text" id="preco_medio" class="form-control" >
                  <label for="preco_medio">Preço médio</label>
                </div>
                <!-- <div class="md-form col-2" [hidden]="!proposta.data_consulta">
                  <input mdbInput formControlName="data_consulta" type="text" id="data_consulta" class="form-control" >
                  <label for="data_consulta">Data da consulta</label>
                </div> -->
                <div class="md-form col" >
                  <input mdbInput formControlName="cota" type="text" id="cota" class="form-control" >
                  <label for="cota">Cota</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="adesao" type="text" id="adesao" class="form-control" >
                  <label for="adesao">Adesão</label>
                </div>
                <div class="md-form col" >
                    <input mdbInput formControlName="parcelasAdesao" type="text" id="parcelas_adesao" class="form-control" >
                    <label for="parcelas_adesao">Parcelas da adesão</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="mensalidade" type="text" id="mensalidade" class="form-control" >
                  <label for="mensalidade">Mensalidade</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="participacao" type="text" id="participacao" class="form-control" >
                  <label for="participacao">Cota de participação</label>
                </div>
              </div>
              <div class="row">
                <div class="md-form col" >
                  <input mdbInput formControlName="fundo_terceiros_" type="text" id="fundo_terceiros_" class="form-control" >
                  <label for="fundo_terceiros_">Fundo para Terceiros</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="carro_reserva_" type="text" id="carro_reserva_" class="form-control" >
                  <label for="carro_reserva_">Carro reserva</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="protecao_vidros_" type="text" id="protecao_vidros_" class="form-control" >
                  <label for="protecao_vidros_">Proteção de vidros</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="app" type="text" id="app" class="form-control" >
                  <label for="app">APP</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="rastreador_" type="text" id="rastreador_" class="form-control" >
                  <label for="rastreador_">Rastreador</label>
                </div>
              </div>
              <div class="row">
                <div class="md-form col-4" >
                  <input mdbInput formControlName="parcelasRastreador" type="text" id="parcelasRastreador" class="form-control" >
                  <label for="parcelasRastreador">Parc. da instalação rastreador</label>
                </div>
                <div class="md-form col-4" >
                  <input mdbInput formControlName="rastreadorInstalacao" type="text" id="rastreadorInstalacao" class="form-control" >
                  <label for="rastreadorInstalacao">Vlr da instalação do rastreador</label>
                </div>
                <div class="md-form col-3" >
                  <input mdbInput formControlName="entrada" type="text" id="entrada" class="form-control" >
                  <label for="entrada">Valor da entrada</label>
                </div>
              </div>
              <div class="row">
                <div class="md-form col" >
                  <input mdbInput formControlName="novoPortabilidade_" type="text" id="novoPortabilidade_" class="form-control" >
                  <label for="novoPortabilidade_">Novo/Portabilidade</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="particularComercial_" type="text" id="particularComercial_" class="form-control" >
                  <label for="particularComercial_">Particular/Comercial</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="normalLeilao_" type="text" id="normalLeilao_" class="form-control" >
                  <label for="normalLeilao_">Normal/Leilão-Sinistrado</label>
                </div>
                <div class="md-form col" >
                  <input mdbInput formControlName="cotaAlterada" type="text" id="cotaAlterada" class="form-control" >
                  <label for="cotaAlterada">Tipo da cota</label>
                </div>               
              </div>


              <div class="row">
                <div class="md-form col-5" >
                  <input mdbInput formControlName="usuario" type="text" id="usuario" class="form-control" >
                  <label for="usuario">Usuário que registrou</label>
                </div>
                <div class="md-form col-5" >
                  <input mdbInput formControlName="dtsalvou" type="text" id="dtsalvou" class="form-control" >
                  <label for="dtsalvou">data do registro</label>
                </div>
              </div>
              <div class="row">
                <!-- <a mdbBtn floating="true" size="sm" gradient="blue" style="margin-left: 70px "
                   mdbWavesEffect (click)="openPDF(proposta.proposta_json)">
                  <mdb-icon icon="file-pdf-o"></mdb-icon>
                </a> -->

                <button type="button" style="white-space: nowrap;" (click)="openPDF(proposta.proposta_json)" mdbBtn color="warning" class="waves-light"
                aria-label="Voltar" mdbWavesEffect>Proposta comercial</button>
                <button type="button" style="white-space: nowrap;" (click)="propostaAdesao()" mdbBtn color="success" class="waves-light"
                aria-label="Voltar" mdbWavesEffect>Termo de adesão</button>
                <button type="button" style="white-space: nowrap;" (click)="propostaAdmissao()" mdbBtn color="info" class="waves-light"
                aria-label="Voltar" mdbWavesEffect>Proposta de admissão </button>
                <button type="button" style="white-space: nowrap;" (click)="voltar()" mdbBtn color="danger" class="waves-light"
                 aria-label="Voltar" mdbWavesEffect>Voltar</button>
              </div>

          </form>




      </div>
    </div>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab  heading="Eventos">
    <div class="row">
      <div class="col-12">
        <br>
        <h3>
          Em construção... 
        </h3>
      </div>
    </div>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="Financeiro">
    <div class="row">
      <div class="col-12">
        <br>
        <h3>
          Em construção
        </h3>
      </div>
    </div>
  </mdb-tab>
  
</mdb-tabset>
