<div class="card card-cascade narrower">
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
    <div>
      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas fas icon="info" class="mt-0"></mdb-icon>
      </button>
    </div>
    <h4 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">Departamentos</h4>
  </div>
  <div class="px-0">
    <mdb-tabset [buttonClass]="'classic-tabs tabs-cyan'" class="classic-tabs">
      <table class="table">
        <thead>
          <tr>
            <th class="th-sm">Id
              <mdb-icon icon="sort" (click)="sortBy('id')"></mdb-icon>
            </th>
            <th class="th-sm">Nome
              <mdb-icon icon="sort" (click)="sortBy('nome')"></mdb-icon>
            </th>
            <th class="th-sm text-center">Usuários </th>
            <th class="th-sm text-center">Permissões </th>
            <th class="th-sm text-center">Status
              <mdb-icon icon="sort" (click)="sortBy('status')"></mdb-icon>
            </th>
            <th class="th-sm text-center">Departamento superior
              <mdb-icon icon="sort" (click)="sortBy('superior')"></mdb-icon>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let departamento of departamentos; let i = index">
          <tr style="cursor:pointer;">
            <td>
              <span>{{departamento.id}}</span>
            </td>
            <td>
              <span>{{departamento.nome}}</span>
            </td>
            <td class="text-center">
              <div title="Usuários do departamento">
                <button
                  (click)="getUsuariosdoDepartamento(departamento.id, departamento.nome); usuariosDepartamentoModal.show()"
                  type="button" mdbBtn color="blue" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
                  <mdb-icon fas icon="users" class="mt-0"></mdb-icon>
                </button>
              </div>
            </td>
            <td class="text-center">
              <div title="Permissões do departamento">
                <button style="width: 31px;"
                  (click)="getPermissoesDepartamento(departamento.id, departamento.nome); PermissoesDepartamentoModal.show()"
                  type="button" mdbBtn color="yellow" outline="true" rounded="true" size="sm" class="px-2"
                  mdbWavesEffect>
                  <mdb-icon fas icon="unlock-alt" class="mt-0"></mdb-icon>
                </button>
              </div>
            </td>
            <td class="text-center">
              <mdb-checkbox [checked]="departamento.status" [disabled]="true"></mdb-checkbox>
            </td>
            <td class="text-center">{{departamento.superior}}</td>
          </tr>
        </tbody>
      </table>
    </mdb-tabset>
  </div>
</div>


<div mdbModal #usuariosDepartamentoModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog  modal-fluid" role="document">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title">Permissões</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="usuariosDepartamentoModal.hide()">
        <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
      </button>
    </div>
    <div class="modal-content">
      <div class="row">
        <div class="col-6">
          <h5>Usuários ativos</h5>
        </div>
        <div class="col-6">
          <h5>Usuários do departamento: {{departamentoNome}}</h5>
        </div>
      </div>
      <dual-list [source]="source" [(destination)]="targe" height="200px" filter="true" [format]="novoFormato"
        sort="true">

      </dual-list>
      <div class="row justify-content-end mr-3">
        <div class="md-form">
          <button type="button" mdbBtn color="danger" block="true" [disabled]="disabledVoltar"
            (click)="usuariosDepartamentoModal.hide()" mdbWavesEffect>Voltar</button>
        </div>
        <div class="ml-2 md-form">
          <button type="button" mdbBtn color="primary" (click)="salvarUsuariosDoDepartamento()" block="true"
            mdbWavesEffect>Salvar</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>



<div mdbModal #PermissoesDepartamentoModal="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog  modal-fluid" role="document">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title">Permissões</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="PermissoesDepartamentoModal.hide()">
        <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
      </button>
    </div>
    <div class="modal-content">
      <div class="row">
        <div class="col-6">
          <h5>Permissões ativas</h5>
        </div>
        <div class="col-6">
          <h5>Permissões do departamento: {{departamentoNome}}</h5>
        </div>
      </div>
      <dual-list [source]="source" [(destination)]="targe" height="200px" filter="true" [format]="novoFormato"
        sort="true">

      </dual-list>
      <div class="row justify-content-end mr-3">
        <div class="md-form">
          <button type="button" mdbBtn color="danger" block="true" [disabled]="disabledVoltar"
            (click)="PermissoesDepartamentoModal.hide()" mdbWavesEffect>Voltar</button>
        </div>
        <div class="ml-2 md-form">
          <button type="button" mdbBtn color="primary" (click)="salvarPermissoesDoDepartamento()" block="true"
            mdbWavesEffect>Salvar</button>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>