<div class="card card-cascade narrower">
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center">
    <div>
      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas fas icon="info" class="mt-0"></mdb-icon>
      </button>
    </div>
    <h4 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">Ranking dos Consultores de Vendas Internas</h4>
  </div>
  <div class="px-4">
    <div class="row ml-2">
      <div class="col-lg-5 col-sm-6">
        <div class="md-form datas">
          <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataInicial"
            class="datas" (ngModelChange)="validaData('dtInicial')"></mdb-date-picker>
          <label class="datas" style="height: 10px">Data inicial</label>
        </div>
      </div>
      <div class="col-lg-5 col-sm-6">
        <div class="md-form datas">
          <mdb-date-picker #dataEventos name="mydate" [options]="myDatePickerOptions" required [(ngModel)]="dataFinal"
            class="datas" (ngModelChange)="validaData('dtFinal')"></mdb-date-picker>
          <label class="datas" style="height: 10px">Data final</label>
        </div>
      </div>
      <div class="col-1">
        <button type="button" mdbBtn color="primary" class="relative waves-light mt-5" (click)="getRanks()"
          mdbWavesEffect>Buscar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12">
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
          <h6 class="white-text font-weight-bold text-uppercase mt-2">Ranking - SOLICITOU PROPOSTA HOJE</h6>
        </div>
        <!--Table-->
        <table class="table table-hover table-responsive-md mb-0">

          <!--Table head-->
          <thead>
            <tr>
              <th class="th-sm">CONSULTOR
                <mdb-icon icon="sort" (click)="sortBy('consultor')"></mdb-icon>
              </th>
              <th class="th-sm">TOTAL
                <mdb-icon icon="sort" (click)="sortBy('total')"></mdb-icon>
              </th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
            <tr #list *ngFor="let evento of tableData; let i = index">
              <td>{{evento.consultor}}</td>
              <td>{{evento.total}}</td>
            </tr>
          </tbody>
          <!--Table body-->
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-12">
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
          <h6 class="white-text font-weight-bold text-uppercase mt-2">Eventos de prospecções concluidos</h6>
        </div>
        <div style="display: block; margin-top: 20px">
          <canvas id="prospeccaoChart" height="180" width="520"></canvas>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-12">
        <div
          class="view view-cascade gradient-card-header blue-gradient narrower py-1 mx-2  d-flex justify-content-center align-items-center">
          <h6 class="white-text font-weight-bold text-uppercase ">Propostas emitidas</h6>
        </div>
        <div style="display: block; margin-top: 20px">
          <canvas id="propostaEmitidasChart" height="180" width="520"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>