<div class="row">
    <!-- <div class=" col-md-5 md-form input-group" >
      <input mdbInput type="text" id="cliente" class="form-control" >
      <label for="cliente" style="margin-left: 15px" >Cliente</label>
      <a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect (click)="teste()"  >
          <i class="fa fa-search-plus" aria-hidden="true"></i>
      </a>
  </div> -->
    <div class=" col-md-6" style="margin-top: 25px">
        <app-pesquisa-cliente [initValueId]="initValueId" [disabled]="pessoaObject"
            (onSelectCliente)="onSelectCliente($event)"></app-pesquisa-cliente>
    </div>
    <div class="col-md-6" style="margin-top: 25px">
        <mdb-select [(ngModel)]="tipoVeiculoSelectValue" [options]="tipoVeiculoSelect"
            placeholder="Escolha o tipo do veículo" style="font-size: 0.5rem;" (selected)="atualizaTipoVeiculo()">
        </mdb-select>
        <label>Tipo do Veículo/Tabela</label>
    </div>
</div>

<div class="row">
    <div *ngIf="moto" class=" col-md-2 md-form " style="margin-top: 30px">
        <input mdbInput type="text" id="ccMoto" class="form-control" [(ngModel)]="sccMoto"
            (keyup)="atualizaTipoVeiculo()">
        <label for="ccMoto" style="margin-left: 15px">CC da moto</label>
    </div>

    <div class=" col-md-2 md-form " style="margin-top: 30px">
        <input mdbInput type="text" id="vlrVeiculo" class="form-control" [(ngModel)]="sVlrVeiculo" disabled>
        <label for="vlrVeiculo" style="margin-left: 15px">Valor do veículo</label>
    </div>

    <!-- portatilidade  -->
    <div class="form-check  md-form  col-md-2" style="margin-top: 4rem;">
        <input type="radio" class="form-check-input" id="chckNovo" [checked]="chckNovo"
            (change)="mudouNovoPortabilidade()" name="chckNovoPortabilidade" mdbInput>
        <label class="form-check-label" for="chckNovo">Novo</label>

        <input type="radio" class="form-check-input" id="materialChecked" [checked]="chckPortabilidade"
            (change)="mudouNovoPortabilidade()" name="chckNovoPortabilidade" checked mdbInput>
        <label class="form-check-label" for="materialChecked">Portabilidade</label>
    </div>

    <!-- Parcelas para dividir a adesão -->
    <div class=" col-md-2 md-form " style="margin-top: 30px">
        <input mdbInput type="text" id="parcelasAdesao" class="form-control" [(ngModel)]="parcelasAdesao"
            (keyup)="mudouParcelasAdesao()">
        <label for="parcelasAdesao" style="margin-left: 15px">Parcelas da adesão</label>
    </div>

    <!-- participação particular / comercial -->
    <div class="form-check  md-form  col-md-2 " style="margin-top: 4rem;">

        <input type="radio" class="form-check-input" id="chckParticular" [checked]="chckParticular"
            (change)="mudouParticularComercial()" name="chckParticular" mdbInput>
        <label class="form-check-label" for="chckParticular">Particular</label>

        <input type="radio" class="form-check-input" id="chckComercial" [checked]="chckComercial"
            (change)="mudouParticularComercial()" name="chckParticular" checked mdbInput>
        <label class="form-check-label" for="chckComercial">Comercial</label>
    </div>

    <!-- veiculo normal ou leilão / sinistrado -->
    <div class="form-check  md-form  col-md-2 " style="margin-top: 4rem;">

        <input type="radio" class="form-check-input" id="chckNormal" [checked]="chckNormal"
            (change)="mudouLeilaoSinistrado()" name="chckLeilaoSinistrado_" mdbInput>
        <label class="form-check-label" for="chckNormal">Normal</label>

        <input type="radio" class="form-check-input" id="chckLeilaoSinistrado" [checked]="chckLeilaoSinistrado"
            (change)="mudouLeilaoSinistrado()" name="chckLeilaoSinistrado_" checked mdbInput>
        <label class="form-check-label" for="chckLeilaoSinistrado">Leilão/Sinistrado</label>
    </div>

    <!-- Parcelas para dividir o Rastreador -->
    <div class=" col-md-2 md-form " style="margin-top: 30px">
        <input mdbInput type="text" id="parcelasRastreador" class="form-control"
            [(ngModel)]="parcelasRastreador" (keyup)="mudouParcelasRastreador()">
        <label for="parcelasRastreador" style="margin-left: 15px">Parcelas do rastreador</label>
    </div>


</div>

<div *ngIf="(valores.length > 0 && ( !moto || sccMoto > 0 )) ;  else inconsistencias  ">

    <!-- 
    <div class="row ">
        <div class="content" >
            <div *ngFor="let combo of combos; let i = index">  
                <div [ngStyle]="{'background-color': combo.cor_fundo,'color': combo.cor_caracteres }" >                
                    <div style="text-align: center">   
                        <br>                                
                            {{combo.nome}}
                        <br>
                        <br>
                        <div class="comboDescricao"> 
                            {{combo.descricao}}
                        </div>
                        <br>
                            {{combo.valor_combo}}
                        <br class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" value="i" id="{{ 'chkCombo' + i}}" (change)="mudouPlano(i)" [checked]="chkPrecos == i"
                                name="chckCombo" mdbInput>
                                <label class="form-check-label" for="{{ 'chkCombo' + i}}" ></label>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br> -->


    <div class="row ">

        <!-- mensalidade sem parcelamento  -->
        <div class=" col-md-4 md-form " style="margin-top: 30px">
            <input mdbInput type="text" id="mensalidadeSemParcelamento" class="form-control"
                [(ngModel)]="mensalidadeSemParcelamento_" (change)="mudouMensalidade()">
            <label for="mensalidadeSemParcelamento" style="margin-left: 15px; font-size: 20px;">Mensalidade sem
                parcelamento</label>
        </div>
        <!-- Valor do parcelamento  -->
        <div class=" col-md-4 md-form " style="margin-top: 30px">
            <input mdbInput type="text" id="adesaoParcelada" class="form-control"
                [(ngModel)]="adesaoParcelada_" disabled>
            <label for="adesaoParcelada" style="margin-left: 15px; font-size: 20px;">Vlr da parcela da adesão</label>
        </div>
        <!-- mensalidade com parcelamento  -->
        <div class=" col-md-4 md-form " style="margin-top: 30px">
            <input mdbInput type="text" id="mensalidadeComParcelamento" class="form-control"
                [(ngModel)]="mensalidadeComParcelamento_" disabled>
            <label for="mensalidadeComParcelamento" style="margin-left: 15px; font-size: 20px;">Mensalidade com
                parcelamento</label>
        </div>

    </div>
    <div class="row ">

        <div class=" col-md-2 md-form " style="margin-top: 30px">
            <input mdbInput type="text" id="entrada" class="form-control" [(ngModel)]="entrada_" disabled>
            <label for="entrada" style="margin-left: 15px; font-size: 20px;">Entrada</label>
        </div>

        <div class="md-form col-md-7" style="margin-left: 50px">
            <input mdbInput [(ngModel)]="proposta.observacao" type="text" id="observacao" class="form-control"
                [disabled]=bntGeraProposta>
            <label for="observacao" style="margin-left: 15px;">Observação (será salva no evento de acompanhamento da
                proposta)</label>
        </div>

        <div class="md-form col-md-2  " style="text-align: center">
            <button type="button" mdbBtn color="primary" (click)="geraProposta();" class="relative waves-light"
                [disabled]=bntGeraProposta mdbWavesEffect>
                Salvar Proposta
            </button>
        </div>

    </div>

    <br class="form-check form-check-inline">
    <input type="radio" class="form-check-input" value="6" id=chkCombo6 (change)="mudouPlano(6)"
        [checked]="chkPrecos == 6" name="chckCombo" mdbInput>
    <label class="form-check-label" for=chkCombo6>Cálculo personalizado</label>
    <br>

    <div *ngIf="chkPrecos == 6">
        <div class="container tabelaPrecos">
            <div class="col-md-12">
                <div class="row cabecalhoValorBase">
                    <div class="col-md-3">
                        COTA
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button mdbBtn type="button" color="default" size="sm" class="waves-light"
                                [disabled]="cotaAlterada" (click)="cotaAnterior()" mdbWavesEffect>
                                << </button> <button mdbBtn type="button" color="default" size="sm" class="waves-light"
                                    [disabled]="!cotaAlterada" (click)="cotaPosterior()" mdbWavesEffect> >>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        VALOR 24H + PLANO PPV
                    </div>
                    <div class="col-md-3">
                        ADESÃO
                    </div>
                    <div class="col-md-3">
                        COTA PARTICIPAÇÃO
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{cota}}
                    </div>
                    <div class="col-md-3">
                        R$ {{valorPPV}}
                    </div>
                    <div class="col-md-3">
                        <div>
                            <input type="text" id="adesao" class="form-control" style="background-color: powderblue"
                                [(ngModel)]="adesao_" (change)="validaAdesao()">
                        </div>
                        <!-- <div >
                                {{adesao}}
                        </div> -->
                    </div>
                    <div class="col-md-3">
                        <a *ngIf="prcParticipacao > 0">
                            {{prcParticipacao}} % =
                        </a>
                        {{vlrParticipacao_}}
                    </div>
                </div>
                <br>
                <div class="precosDaProposta">
                    <div class="row">
                        <!-- <div>
                        Fundo para terceiro..:  
                    </div> -->
                        <th *ngFor="let _fundoTerceiro of fundoTerceiro; let i = index" class=" col-md-3 tabelaChck">
                            <div class="form-check form-check-inline tituloProposta">
                                <input type="radio" class="form-check-input" id="{{ 'chkFundo' + i}}"
                                    (change)="mudouFundo(i)" [checked]="chkFundo == i" name="chckFundoTerceiro"
                                    mdbInput>
                                <label class="form-check-label" for="{{ 'chkFundo' + i}}"></label>
                                {{_fundoTerceiro.nome}}
                            </div>
                            <div>
                                R$ {{_fundoTerceiro.valor}}
                            </div>
                        </th>
                    </div>
                    <br>
                    <div class="row">
                        <!-- <div>
                        Carro reserva
                    </div> -->
                        <th *ngFor="let _carroReserva of carroReserva; let i = index" class=" col-md-3 tabelaChck">
                            <div class="form-check form-check-inline tituloProposta">
                                <input type="radio" class="form-check-input" id="{{ 'chckCarroRes' + i}}"
                                    (change)="mudouCarroReserva(i)" [checked]="chckCarroRes == i"
                                    name="chckCarroReserva" mdbInput>
                                <label class="form-check-label" for="{{ 'chckCarroRes' + i}}"></label>
                                {{_carroReserva.nome}}
                            </div>
                            <div>
                                R$ {{_carroReserva.valor}}
                            </div>
                        </th>
                    </div>
                    <br>
                    <div class="row">
                        <!-- <div> 
                        Proteção de vidros
                    </div> -->
                        <th *ngFor="let _protecaoVidro of protecaoVidro; let i = index" class=" col-md-3 tabelaChck">
                            <div class="form-check form-check-inline tituloProposta">
                                <input type="radio" class="form-check-input" id="{{ 'chckProtecaoVidro' + i}}"
                                    (change)="mudouProtecaoVidro(i)" [checked]="chckProtecaoVidro == i"
                                    name="chckProtecaoVidro" mdbInput>
                                <label class="form-check-label" for="{{ 'chckProtecaoVidro' + i}}"></label>
                                {{_protecaoVidro.nome}}
                            </div>
                            <div>
                                R$ {{_protecaoVidro.valor}}
                            </div>
                        </th>

                    </div>
                    <br>
                    <div class="row">
                        <!-- <div> 
                        APP
                    </div> -->
                        <th *ngFor="let _app of app; let i = index" class=" col-md-3 tabelaChck">
                            <div class="form-check form-check-inline tituloProposta">
                                <input type="radio" class="form-check-input" id="{{ 'chckApp' + i}}"
                                    (change)="mudouApp(i)" [checked]="chckApp == i" name="chckApp" mdbInput>
                                <label class="form-check-label" for="{{ 'chckApp' + i}}"></label>
                                {{_app.nome}}
                            </div>
                            <div>
                                R$ {{_app.valor}}
                            </div>
                        </th>
                    </div>
                    <br>
                    <div class="row">
                        <!-- <div> 
                        Combustível Desconto
                    </div> -->
                        <th *ngFor="let _combustivelDesconto of combustivelDesconto; let i = index" class=" col-md-3 tabelaChck">
                            <div class="form-check form-check-inline tituloProposta">
                                <input type="radio" class="form-check-input" id="{{ 'chckCombustivelDesconto' + i}}"
                                    (change)="mudouCombustivelDesconto(i)" [checked]="chckCombustivelDesconto == i" name="chckCombustivelDesconto" mdbInput>
                                <label class="form-check-label" for="{{ 'chckCombustivelDesconto' + i}}"></label>
                                {{_combustivelDesconto.nome}}
                            </div>
                            <div>
                                R$ {{_combustivelDesconto.valor}}
                            </div>
                        </th>
                    </div>
                    <br>
                    <div class="row">
                        <!--  Guincho Ilimitado   -->
                        <th *ngFor="let _guincho of guincho; let i = index" class=" col-md-3 tabelaChck">
                            <div class="form-check form-check-inline tituloProposta">
                                <input type="radio" class="form-check-input" id="{{ 'chckGuincho' + i}}"
                                    (change)="mudouGuincho(i)" [checked]="chckGuincho == i" name="chckGuincho" mdbInput>
                                <label class="form-check-label" for="{{ 'chckGuincho' + i}}"></label>
                                {{_guincho.nome}}
                            </div>
                            <div>
                                R$ {{_guincho.valor}}
                            </div>
                        </th>
                    </div>
                    <br>
                    <div class="row">
                        <!-- <div> 
                        Rastreador
                    </div> -->
                        <th *ngFor="let _rastreador of rastreador; let i = index" class=" col-md-3 tabelaChck">
                            <div class="form-check form-check-inline tituloProposta">
                                <input type="radio" class="form-check-input" id="{{ 'chckRastreador' + i}}"
                                    (change)="mudouRastreador(i)" [checked]="chckRastreador == i" name="chckRastreador"
                                    mdbInput>
                                <label class="form-check-label" for="{{ 'chckRastreador' + i}}"></label>
                                {{_rastreador.nome}}
                            </div>
                            <div>
                                R$ {{_rastreador.valor}}
                            </div>
                            <div>
                                Instalação: R$ {{_rastreador.valor_instalacao}}
                            </div>
                        </th>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

</div>


<ng-template #inconsistencias>
    <div *ngIf="( moto ) ; else  inconsistencia_01">
        <div *ngIf="( sccMoto == 0 ) ; else  inconsistencia_01">
            Informa Cilindrada da moto
        </div>
    </div>
</ng-template>

<ng-template #inconsistencia_01>
    <h4 style="font-size: 1.2rem;font-weight: bold;color: dimgray;">
        Informa tabela Fipe!
    </h4>
</ng-template>