<div class="card card-cascade narrower">
  <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <div>
      <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
        <mdb-icon fas fas icon="info" class="mt-0"></mdb-icon>
      </button>
    </div>
    <h4 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">Atendimento Receptivo  - Protocolo: {{protocolo}} </h4>
  </div>
  <div class="row" style="margin-left: 10px;">
    <div class="md-form col-1">
      <input mdbInput [(ngModel)]="ddd" max="4" min="3" type="text" id="ddd" class="form-control">
      <label for="ddd" style="margin-left: 10px;" >DDD</label>
    </div>
    <div class="md-form col-2">
      <input mdbInput [(ngModel)]="telefone" type="text" id="telefone" class="form-control" (change)="corrigiTelefone()"  >
      <label for="telefone" style="margin-left: 10px;"   >Telefone</label>
    </div>
    <div class="col-2">
      <button type="button" mdbBtn color="primary" class="relative waves-light" [disabled]="habilitaButton"
        (click)="pesquisar()" mdbWavesEffect>
        Pesquisar Pessoas e Atendimentos anteriores</button>
    </div>
    <div class="col-2">
      <button type="button" mdbBtn color="primary" class="relative waves-light" [disabled]="habilitaButton"
        (click)="novoAtendimentoPessoa()" mdbWavesEffect>
        Registrar novo atendimento para uma nova pessoa</button>
    </div>
  </div>
  <div class="card card-cascade narrower">
    <div
      class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex" >
      <h6 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">Contatos anteriores </h6>
    </div>
      <!--Table-->
      <table class="table table-hover table-responsive-md mb-0">

        <!--Table head-->
        <thead>
          <tr>
            <th >Protocolo
              <mdb-icon icon="sort" (click)="sortBy('id')"></mdb-icon>
            </th>
            <th class="th-sm">Data
              <mdb-icon icon="sort" (click)="sortBy('dt_criou')"></mdb-icon>
            </th>
            <th class="th-sm">Cliente
              <mdb-icon icon="sort" (click)="sortBy('cliente')"></mdb-icon>
            </th>
            <th class="th-sm">Motivo
              <mdb-icon icon="sort" (click)="sortBy('motivo')"></mdb-icon>
            </th>
            <th class="th-sm">Status
              <mdb-icon icon="sort" (click)="sortBy('status')"></mdb-icon>
            </th>
            <th class="th-sm">Ações
              
            </th>
          </tr>
        </thead>
        <!--Table head-->

        <!--Table body-->
        <tbody>
          <tr  #list *ngFor="let evento of tableData; let i = index">
            <td  *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
              {{evento.id}}</td>
              <td  *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
              {{evento.dt_criou | date:'dd/MM/yyyy' }}</td>
              <td  *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
                {{evento.cliente}}</td>
            <td  *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
              {{evento.motivo}}</td>
            <td  *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
              {{evento.status}}</td>
            <td *ngIf="i+1 >= firstVisibleIndex && i+1 <= lastVisibleIndex">
              <button title="Novo atendimento" (click)="novoAtendimento(evento.id_pessoa_receptor)" type="button" mdbBtn color="red" outline="true"
              rounded="true" size="sm" class="px-2" mdbWavesEffect>
              <mdb-icon fas icon="plus-circle"></mdb-icon>
              </button>
              <button *ngIf="evento.id" title="Detalhe do evento" (click)="abreEvento(evento)" type="button" mdbBtn color="green" outline="true"
              rounded="true" size="sm" class="px-2" mdbWavesEffect>
              <mdb-icon fas icon="openid"></mdb-icon>
              </button>
              <!-- <button *ngIf="evento.id" title="Registrar solicitação de informação do atendimento" (click)="informacaoDoAtendimento(evento.id, evento.id_evento_pai, evento.id_pessoa_receptor)" type="button" mdbBtn color="blue" outline="true"
              rounded="true" size="sm" class="px-2" mdbWavesEffect>
              <mdb-icon fas icon="undo" class="mt-0"></mdb-icon>
              </button> -->
            </td>
          </tr>
        </tbody>
        <!--Table body-->
      </table>

    <hr class="my-0">

    <!--Bottom Table UI-->
    <div class="d-flex justify-content-center">

      <!--Pagination -->
      <nav class="my-4 pt-2">
        <ul class="pagination pagination-circle pg-purple mb-0">

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="firstPage()"
            [ngClass]="{disabled: activePage == firstPageNumber}">
            <a class="page-link">First</a>
          </li>

          <!--Arrow left-->
          <li class="page-item" (click)="previousPage()" [ngClass]="{disabled: activePage == firstPageNumber}">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <!--Numbers-->
          <li *ngFor="let page of paginators; let i = index" class="page-item" [ngClass]="{active: i+1 == activePage}">
            <a class="page-link waves-light" (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
          </li>

          <!--Arrow right-->
          <li class="page-item" (click)="nextPage()" [ngClass]="{disabled: activePage == lastPageNumber}">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <!--First-->
          <li class="page-item clearfix d-none d-md-block" (click)="lastPage()"
            [ngClass]="{disabled: activePage == lastPageNumber}">
            <a class="page-link">Last</a>
          </li>

        </ul>
      </nav>
      <!--/Pagination -->

    </div>
    <!--Bottom Table UI-->

  </div>

</div>



<div mdbModal #modalAbreEvento="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fluid" role="document">
  <div class="modal-header light-blue darken-3 white-text">
    <h4 class="modal-title w-100" id="myModalLabel">Detalhes do evento: {{idEvento}} </h4>
    <button type="button" style="cursor:pointer;" class="close" data-dismiss="modal" aria-label="Close"
       >
      <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <div class="modal-body" style="overflow: auto; height: 80vh;">
      <div *ngIf="checkAbreEvento" >
      <app-detalhe-evento  [idEvento]="idEvento" [soConcultar]="true"></app-detalhe-evento>
    </div>
  </div>
</div>
</div>
</div>

<div mdbModal #modalBuscaCliente="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fluid" role="document">
  <div class="modal-header light-blue darken-3 white-text">
    <h4 class="modal-title w-100" id="myModalLabel">Cadastro do atendimento para telefone: {{dddTelefone}} </h4>
    <button type="button" style="cursor:pointer;" class="close" data-dismiss="modal" aria-label="Close"
        >
      <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <div class="modal-body" style="overflow: auto; height: 80vh;">
      <div [formGroup]="pessoaForm"  *ngIf="buscaCliente" >
        
        <div class="card card-cascade narrower">
          <div
            class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex" >
            <h6 class="white-text mx-3 mt-2 font-weight-bold text-uppercase">Pessoas </h6>
          </div>
          
          <div class="row" style="margin-left: 10px;">
              <div class="md-form col-2">
              <input mdbInput 
              [value]="pessoaForm.get('cpf_cnpj').value | cpf"
              formControlName="cpf_cnpj" 
              type="text" id="cpf" 
              (change)="getPessoaPorCPFCNPJ()"
              class="form-control" >
              <label for="cpf">CPF</label>
            </div>
            <div class="md-form col-8">
              <input mdbInput formControlName="nome" type="text" id="nome" 
                class="form-control">
              <label for="nome">Nome</label>
            </div>
            <div class="col-2">
              <button type="button" mdbBtn color="primary" 
                class="relative waves-light" [disabled]="!pessoaForm.valid"
                (click)="novoAtendimentoPessoaInformada()" mdbWavesEffect>
                Novo Atendimento
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<div mdbModal #modalCriaEvento="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
aria-labelledby="myBasicModalLabel" aria-hidden="true">
<div class="modal-dialog modal-fluid" role="document">
  <div class="modal-header light-blue darken-3 white-text">
  <h4 class="modal-title w-100" id="myModalLabel"> {{tituloModal}}  {{eventoAnteriorProtocolo}} </h4>
    <button type="button" style="cursor:pointer;" class="close" data-dismiss="modal" aria-label="Close"
        >
      <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
    </button>
  </div>
  <div class="modal-content">
    <div class="modal-body" style="overflow: auto; height: 80vh;">
      <div *ngIf="checkCriaEvento" >

        <app-criar-evento [eventoAnterior]="eventoAnterior" [idPessoaReceptor]="idCliente" 
              [idCanal]="2" [protocolo]="protocolo" (fechaModal)="fechaModal()"
              [ddd]="ddd" [telefone]="telefone" [disabled]="true" 
              [idEventoPai]="idEventoPai"
        ></app-criar-evento>

      </div>
    </div>
  </div>
  </div>
</div>