<!-- Card Filtros -->
<div class="row mt-2">
  <div class="col-3">
    <div class="row justify-content-around">
      <div class="col-5 col-sm-6">
        <div class="md-form datas">
          <mdb-date-picker #dataReagendamento name="mydate" [options]="myDatePickerOptions" required
            [(ngModel)]="dataInicial" class="datas"></mdb-date-picker>
          <label class="datas">Data inicial</label>
        </div>
      </div>
      <div class="col-5 col-sm-6">
        <div class="md-form datas">
          <mdb-date-picker #dataReagendamento name="mydate" [options]="myDatePickerOptions" required
            [(ngModel)]="dataFinal" class="datas"></mdb-date-picker>
          <label class="datas">Data final</label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3" style="margin-top: 20px">
    <mdb-select [(ngModel)]="usuarioSelectValue" [options]="usuarioSelect" placeholder="Escolha o usuário"
      [disabled]="!usuarioLogadoSupervisor" style="font-size: 0.5rem;"></mdb-select>
    <label>Usuário</label>
  </div>
  <div class="col-4" style="margin-top: 20px">
    <mdb-select [(ngModel)]="statusPropostaSelectValue" [options]="statusPropostaSelect" placeholder="Escolha o status"
      style="font-size: 0.5rem;"></mdb-select>
    <label>Status</label>
  </div>
  <div class="col-2" style="margin-top: 5px">
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="lerPropostas()"
      mdbWavesEffect>Carregar</button>
    <!-- </div>
      <div class="col" style="margin-left: 10px; margin-top: 5px">
        <a mdbBtn floating="true" size="lg" gradient="peach" mdbWavesEffect>
          <mdb-icon icon="search"></mdb-icon>
        </a>
        <a mdbBtn floating="true" size="lg" gradient="aqua" (click)="generateCsv()" mdbWavesEffect>
          <mdb-icon icon="cloud-download"></mdb-icon>
        </a>

      </div> -->
  </div>
</div>
<div class="row mt-2">
  <div class="col-lg-12 text-center">
    <div class="md-form">
      <h4 style="font-size: 1.4rem;font-weight: bold;color: dimgray;">Lista de propostas</h4>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Elaborada em:</th>
      <th>Cliente</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Placa</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody (click)="abreDetalheProposta(proposta.id)" *ngFor="let proposta of propostas">
    <tr>
      <th scope="row">{{proposta.id}}</th>
      <td>
        {{proposta.dtsalvou | date:'dd/MM/yyyy HH:mm:ss' }}
      </td>
      <td>
        {{proposta.cliente}}
      </td>
      <td>
        {{proposta.marca}}
      </td>
      <td>
        {{proposta.modelo}}
      </td>
      <td>
        {{proposta.placa}}
      </td>
      <td>
        {{proposta.status_proposta}}
      </td>
      <td>
        <a mdbBtn floating="true" size="sm" gradient="blue" mdbWavesEffect (click)="openPDF(proposta.propostaPDF)">
          <mdb-icon icon="file-pdf-o"></mdb-icon>
        </a>
      </td>
    </tr>

  </tbody>
</table>

<div class="row" >
  <div class="col-10"> 
    <span *ngIf="propostas" style="    color: gray;">
      Total de propostas listadas: {{propostas.length}}
    </span>
  </div>
  <div class="col-2" >
    <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="fechaModalProposta_()"
    mdbWavesEffect>Voltar</button>
  </div>
</div>
