<div class="card card-cascade narrower">
    <div
    class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <h4 class="white-text mx-3 mt-2 font-weight-bold text-uppercase" style="text-align: center" >Mailing / Lead</h4>
  </div>

  <br>
  <table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true" style="margin-left: 30px">
    <thead>
      <tr>
        <th> <h5 style="font-weight: bold">Nome </h5> </th>
        <th> <h5 style="font-weight: bold">Origem </h5> </th>
        <th> <h5 style="font-weight: bold">data da importação </h5> </th>
      </tr>
    </thead>
    <tbody *ngFor="let leadsMilings of (pessoa | async)?.leadsMilings">
      <tr>
        <th scope="row"> <h5> {{leadsMilings.nome}}</h5></th>
        <td> <h5> {{leadsMilings.origem}} </h5> </td>
        <td> <h5> {{leadsMilings.data_importacao | date:'dd/MM/yyyy' }}</h5> </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<br>
