<div class="row pt-4 p-3">
  <h4 style="font-weight: bold;color: gray;">Telefones Cadastrados</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>DDD</th>
        <th>Telefone</th>
        <th>Ramal</th>
        <th>Principal</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let telefone of (pessoa | async)?.telefones">
      <tr>
        <th scope="row">{{telefone.id}}</th>
        <td>{{telefone.ddd}}</td>
        <td>{{telefone.telefone | mascaraTelefone : telefone.ddd}}</td>
        <td>{{telefone.ramal}}</td>
        <td>
          <mdb-checkbox (change)="setTelefonePrincipal(telefone)" [checked]="telefone.principal"></mdb-checkbox>
        </td>
        <td>
          <button (click)="editarTelefone(telefone.id)" type="button" mdbBtn color="blue" outline="true" rounded="true"
            size="sm" class="px-2" mdbWavesEffect>
            <mdb-icon fas icon="pencil" class="mt-0"></mdb-icon>
          </button>
          <button type="button" mdbBtn color="red" 
            (click)="excluirTelefone(telefone.id); confirmExcluirTelefone.show()" outline="true" rounded="true"
            size="sm" class="px-2" mdbWavesEffect  >
            <mdb-icon fas icon="trash" class="mt-0"></mdb-icon>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
  <span *ngIf="_pessoaObject && !_pessoaObject.telefones.length">Nenhum telefone cadastrado!</span>
</div>
<div class="row d-flex justify-content-end mt-3">
  <button type="button" [disabled]="telefoneSelecionado" mdbBtn color="primary" (click)="adicionarNovoTelefone();"
    class="relative waves-light" mdbWavesEffect>Adicionar Novo Telefone</button>
</div>
<br />
<br />
<div *ngIf="telefoneSelecionado">
  <form [formGroup]="telefoneForm" class="formQuestionario">
    <div class="row">
      <div class="col mdb-select-form">
        <mdb-select formControlName="id_tipo_telefone" (selected)="getSelectedValueTelefone($event)"
          [options]="tipoTelefone | async" [multiple]="false" placeholder="Tipo de Telefone"></mdb-select>
        <label>Tipo</label>
      </div>
    </div>
    <div class="row">
      <div class="md-form col-2">
        <input mdbInput formControlName="ddd" max="4" min="3" type="text" id="ddd" class="form-control">
        <label for="ddd">DDD</label>
      </div>
      <div class="md-form col">
        <input mdbInput formControlName="telefone" type="text" id="telefone" class="form-control">
        <label for="telefone">Telefone</label>
      </div>
    </div>

    <div class="row">
      <div class="md-form col-3">
        <input mdbInput formControlName="ramal" type="text" id="ramal" class="form-control">
        <label for="ramal">Ramal</label>
      </div>
      <div class="md-form col">
        <input mdbInput formControlName="contato" type="text" id="contato" class="form-control">
        <label for="contato">Contato</label>
      </div>
    </div>

    <div class="row d-flex justify-content-end">
      <button type="button" mdbBtn color="primary" (click)="salvar();" class="relative waves-light" mdbWavesEffect
        [disabled]="!telefoneForm.valid">Salvar Telefone</button>
      <button type="button" mdbBtn color="danger" (click)="cancelarAdd();" class="relative waves-light"
        mdbWavesEffect>Cancelar</button>
    </div>
  </form>
</div>


<div mdbModal #confirmExcluirTelefone="mdbModal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true}">
  <div class="modal-dialog modal-fluid" role="document">
    <div class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title w-100" id="myModalLabel">Excluir Telefone</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="confirmExcluirTelefone.hide()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-content">
      <div *ngIf="telefoneExclusao" class="modal-body">
        {{telefoneExclusao.ddi}} {{telefoneExclusao.ddd}} {{telefoneExclusao.telefone}}
      </div>
      <div class="row justify-content-end">
        <div class="md-form">
          <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Cancelar"
            (click)="confirmExcluirTelefone.hide(); cancelaExclusaoTelefone()" mdbWavesEffect>Cancelar</button>
        </div>
        <div class="md-form">
          <button type="button" mdbBtn color="primary" class="relative waves-light"
            (click)="confirmExcluirTelefone.hide(); confirmaExclusaoTelefone();" mdbWavesEffect>Confirma</button>
        </div>
      </div>
    </div>
  </div>
</div>