<form class="form-horizontal" [formGroup]="formulario">
  <div class="row ">
    <div class="col-md-11">
      <div class="md-form">
        <textarea mdbInput type="text" formControlName="tabelaFipe" id="tabelaFipe"
          class="md-textarea form-control" rows="30" (keyup)="lerTabelaFipe($event)"
          [disabled]="tabelaLimpa"></textarea>
        <label for="tabelaFipe">Cole aqui a Tabela Fipe</label>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="md-form">
        <button mdbBtn type="button" color="danger" mdbWavesEffect (click)="limparTabelaFipe()">
          Limpar
        </button>
      </div>
      <!-- 
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo1" disabled
          id="campo1" class="form-control">
          <label for="campo1" class="">Mês de referência</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo2" disabled
          id="campo2" class="form-control">
          <label for="campo2" class="">Código Fipe:</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo3" disabled
          id="campo3" class="form-control">
          <label for="campo3" class="">Marca</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo4" disabled
          id="campo4" class="form-control">
          <label for="campo4" class="">Modelo</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo5" disabled
          id="campo5" class="form-control">
          <label for="campo5" class="">Ano Modelo</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo6" disabled
          id="campo6" class="form-control">
          <label for="campo6" class="">Autenticação</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo7" disabled
          id="campo7" class="form-control">
          <label for="campo7" class="">Data da consulta</label>
        </div>
        <div class="md-form">
          <input mdbInput type="text" formControlName="campo8" disabled
          id="campo8" class="form-control">
          <label for="campo8" class="">Preço Médio</label>
        </div>
 -->
    </div>
  </div>
</form>