<form [formGroup]="eventoForm" class="formQuestionario">
  <div class="row">
    <div class="col-2" [hidden]="!evento.id">
      <div class="md-form">
        <input mdbInput formControlName="id" type="text" id="id" class="form-control" >
        <label for="id">ID</label>
      </div>
    </div>
    <div class="col-5" [hidden]="!evento.status">
      <div class="md-form">
        <input mdbInput formControlName="status" type="text" id="status" class="form-control" >
        <label for="status">Status</label>
      </div>
    </div>
    <div class="col-5" [hidden]="!evento.motivo">
      <div class="md-form">
        <input mdbInput formControlName="motivo" type="text" id="motivo" class="form-control" >
        <label for="motivo">Motivo</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" [hidden]="!evento.dt_criou">
      <div class="md-form">
        <input mdbInput formControlName="dt_criou" type="text" id="dt_criou" class="form-control" >
        <label for="dt_criou">Criado em</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.dt_para_exibir">
      <div class="md-form">
        <input mdbInput formControlName="dt_para_exibir" type="text" id="dt_para_exibir" class="form-control"
          >
        <label for="dt_para_exibir">Agendado para</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" [hidden]="!evento.dt_prevista_resolucao">
      <div class="md-form">
        <input mdbInput formControlName="dt_prevista_resolucao" type="text" id="dt_prevista_resolucao"
          class="form-control" >
        <label for="dt_prevista_resolucao">Resolver até</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.pessoa_criou">
      <div class="md-form">
        <input mdbInput formControlName="pessoa_criou" type="text" id="pessoa_criou" class="form-control"
          >
        <label for="pessoa_criou">Registrado por</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.destino">
      <div class="md-form">
        <input mdbInput formControlName="destino" type="text" id="destino" class="form-control" >
        <label for="destino">Destinatário</label>
      </div>
    </div>
    <div class="md-form col-6 input-group" [hidden]="!evento.cliente">
      <input mdbInput formControlName="cliente" type="text" id="cliente" class="form-control" >
      <label for="cliente">Cliente</label>
      <div class="input-group-append">
        <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon1" mdbWavesEffect
          (click)="abrirCadastroPessoa()">Ver cadastro</button>
      </div>
    </div>
    <div class="col-12" [hidden]="!evento.observacao_origem">
      <div class="md-form">
        <textarea type="text" formControlName="observacao_origem" id="observacao_origem"
          class="md-textarea form-control" mdbInput ></textarea>
        <label for="observacao_origem">Observação de Origem</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.campanha">
      <div class="md-form">
        <input mdbInput formControlName="campanha" type="text" id="campanha" class="form-control" >
        <label for="campanha">Campanha</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.dt_visualizou">
      <div class="md-form">
        <input mdbInput formControlName="dt_visualizou" type="text" id="dt_visualizou" class="form-control"
          >
        <label for="dt_visualizou">Aberto em</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.dt_resolvido">
      <div class="md-form">
        <input mdbInput formControlName="dt_resolvido" type="text" id="dt_resolvido" class="form-control"
          >
        <label for="dt_resolvido">Resolvido em </label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.pessoa_visualizou">
      <div class="md-form">
        <input mdbInput formControlName="pessoa_visualizou" type="text" id="pessoa_visualizou"
          class="form-control" >
        <label for="pessoa_visualizou">Visualizado por</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.pessoa_resolveu">
      <div class="md-form">
        <input mdbInput formControlName="pessoa_resolveu" type="text" id="pessoa_resolveu" class="form-control"
          >
        <label for="pessoa_resolveu">Resolvido por</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.telefone">
      <div class="md-form">
        <input mdbInput formControlName="telefone" type="text" id="telefone" class="form-control" >
        <label for="telefone">Telefone do cliente</label>
      </div>
    </div>
    <div class="col-6" [hidden]="!evento.objecao">
      <div class="md-form">
        <input mdbInput formControlName="objecao" type="text" id="objecao" class="form-control" >
        <label for="objecao">Objeção</label>
      </div>
    </div>

    <div class="col-12" [hidden]="!evento.resposta_motivo">
      <div class="md-form">
        <input mdbInput formControlName="resposta_motivo" type="text" id="resposta_motivo" class="form-control"
          >
        <label for="resposta_motivo">Resposta Motivo</label>
      </div>
    </div>
    <div class="col-12" [hidden]="!evento.predicao">
      <div class="md-form">
        <input mdbInput formControlName="predicao" type="text" id="predicao" class="form-control" >
        <label for="predicao">Predição</label>
      </div>
    </div>
    <div class="col-12 input-group" [hidden]="!evento.id_proposta">
      <div class="md-form">
        <input mdbInput formControlName="id_proposta" type="text" id="id_proposta" class="form-control"
          >
        <label for="id_proposta">Proposta</label>
        <div class="input-group-append">
          <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2" mdbWavesEffect
            (click)="abrirProposta()">Ver proposta</button>
        </div>
      </div>
    </div>

    <div *ngIf="evento.placa != 'null' "  class="col-12 input-group" [hidden]="!evento.placa">
      <div class="md-form">
        <input mdbInput formControlName="placa" type="text" id="placa" class="form-control"
          >
        <label for="placa">Placa</label>
        <div class="input-group-append">
          <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon3" mdbWavesEffect
            (click)="abrirVeiculo(); modalVeiculo.show()">Veículo</button>
        </div>
      </div>
    </div>

    <div class="col-12" [hidden]="!evento.observacao_retorno">
      <div class="md-form">
        <textarea type="text" formControlName="observacao_retorno" id="observacao_retorno"
          class="md-textarea form-control" mdbInput ></textarea>
        <label for="observacao_retorno">Observação de Retorno</label>
      </div>
    </div>
  </div>



  <!-- <div mdbModal #modalVeiculo="mdbModal" [config]="{backdrop: true}" class="modal fade right" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fluid" role="document">
    <div *ngIf="pessoaObject" class="modal-header light-blue darken-3 white-text">
      <h4 class="modal-title w-100" id="myModalLabel">Dados Veiculos</h4>
      <button type="button" style="cursor:pointer;" class="close" data-dismiss="modal" aria-label="Close"
        (click)="modalVeiculo.hide()">
        <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
      </button>
    </div>
      <div class="modal-content">
 
    </div>
  </div>
</div> -->


<div mdbModal #modalVeiculo="mdbModal" class="modal fade top"  tabindex="-1"  role="dialog" 
        aria-labelledby="myBasicModalLabel" aria-hidden="true" >
  <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-header light-blue darken-3 white-text">
          <h4 class="modal-title">Veículo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"
            (click)="modalVeiculo.hide()">
            <span aria-hidden="true" style="color:white; cursor:pointer;">&times;</span>
          </button>
      </div>
          <div class="modal-content">
            <div class="modal-body">
         <h5>Placa  : {{placa}} </h5>
         <h5>Marca  : {{marca}}</h5>
         <h5>Modelo : {{modelo}}</h5>
         <h5>Ano    : {{ano}}</h5>
        </div>

    </div>
  </div>
</div>




</form>