.logo {
  width: 60%;
  margin-left: 20px;;
}

.counterEvents {
      background-color: red;
      //border-radius: 3px;
      //position: absolute;
      margin-left: 3px;
      //top: -8px;
      color: white;
      //display: flex;
    //   align-items: center;
    //   justify-content: center;
      font-weight: 600;
      font-size: 15px;
      //padding: 0.5px;
    //   text-align: center;
    }